.menu {
    .menu-item {
        color: var(--no-select);
    }

    .item-4 {
        color: var(--on-background);
        border: 2px solid var(--secondary);
    }
}


.header {
    color: var(--on-surface);

    padding: 8px;
    margin: 0 5px;
}

.fridge {
    display: flex;
    margin-bottom: 5em;

    .navcolumn {
        display: flex;
        flex-direction: column;
        background-color: var(--surface);

        margin: 20px 10px 10px 10px;
        padding-bottom: 10px;

        width: 170px;
        height: fit-content;

        border-radius: 10px;

        gap: 10px;

        .category {
            padding: 4px 8px;
            margin: 0 12px;

            width: fit-content;

            color: var(--on-surface);
            font-weight: bold;

            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .all-items {
            margin: 8px 12px;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: fit-content;
        padding-bottom: 10px;

        background-color: var(--surface);

        margin: 20px 10px 10px 10px;

        border-radius: 10px;

        .content {

            .head {
                display: flex;
                justify-content: space-between;

                .add-item-button {
                    color: var(--secondary);
                    font-weight: bold;

                    border: 2px solid var(--secondary);

                    margin: 7px;
                    padding: 6px;

                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;

                    border-radius: 10px;
                }
            }

            .all-items-list {
                margin-bottom: 20px;
            }

            .items-wrapper {
                display: flex;
                flex-wrap: wrap;

                gap: 8px;

                padding: 8px 13px;

                .item {
                    width: fit-content;
                    height: fit-content;
                    border: 2px solid var(--no-select);

                    color: var(--on-background);

                    padding: 4px 10px;

                    border-radius: 10px;

                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        display: flex;
                        align-items: center;
                    }

                    .info-span {
                        display: flex;
                        gap: 5px;
                        
                        .bx {
                            color: var(--secondary);
                            cursor: pointer;
                        }

                        .info-span-content {
                            display: none;
    
                            &:hover {
                                display: block;
                            }
            
                        }
                    }
                }
            }
        }
    }

}

.add-item-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;

    justify-content: center;

    .add-item-modal-content {
        background-color: var(--primary);
        color: var(--on-background);

        border: 2px solid var(--dark-secondary);

        width: 400px;
        height: 380px;
        border-radius: 10px;
        padding: 20px;

        display: flex;
        flex-direction: column;

        gap: 3em;

        .add-item-modal-content-header {
            display: flex;
            justify-content: right;
            gap: 30%;

            span {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 5px;
            }

            .bx {
                color: var(--error);
                font-size: 22px;
            }
        }

        .modal-content {
            display: flex;
            flex-direction: column;

            gap: 2em;

            .modal-content-content {
                display: flex;
                gap: 15px;


                .input-text {
                    background-color: transparent;
                    color: var(--on-background);
                    border-bottom: 1px solid var(--no-select);
                    border-right: none;
                    border-top: none;
                    border-left: none;
                    outline: none;

                    width: 150px;
                    padding: 2px 15px;
                }

                .input-number {
                    background-color: transparent;
                    color: var(--on-background);
                    border-bottom: 1px solid var(--no-select);
                    border-right: none;
                    border-top: none;
                    border-left: none;
                    outline: none;

                    width: 70px;
                    padding: 2px 15px;

                    cursor: pointer;
                }

                .input-date {
                    background-color: transparent;
                    color: var(--on-background);
                    border-bottom: 1px solid var(--no-select);
                    border-right: none;
                    border-top: none;
                    border-left: none;
                    outline: none;

                    padding: 2px 15px;

                    cursor: pointer;
                }

                .bx {
                    color: var(--secondary);
                    display: flex;
                    align-items: center;
                }

                .categories-list {
                    background-color: transparent;
                    color: var(--on-background);
                    border-bottom: 1px solid var(--no-select);
                    border-right: none;
                    border-top: none;
                    border-left: none;
                    outline: none;
                    border-radius: 2px;

                    cursor: pointer;

                    option {
                        background-color: var(--surface);

                        &:focus {
                            outline: none;
                            border: 1px solid var(--no-select);
                        }
                    }
                }
            }
        }
    }
}