.dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .dashboard-content {
        padding: 0.5% 2% 2% 2%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: fit-content;
        flex-wrap: wrap;

        margin: 3%;

        h3 {
            display: flex;
            justify-content: center;
            color: var(--on-background);
        }

        .card-wrapper {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: start;


            .card {
                border-radius: 25px;
                background-color: var(--surface);
                color: var(--on-secondary);
                width: 28%;
                min-width: 300px;
                min-height: 340px;

                .card-content {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 14px;

                    gap: 10px;

                    .plannedDate {

                    }

                    .ingredient {
                        border: 2px solid var(--accent);
                        border-radius: 10px;
                        width: fit-content;
                        padding: 0 5px;
                    }

                    .button {
                        border: none;
                        font-size: 16px;
                        background-color: var(--primary);
                        color: var(--on-primary);

                        padding: 6px 12px;
                        border-radius: 6px;

                        width: fit-content;

                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

.plans-pricing {
    color: var(--on-background);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

    h5 {
        font-weight: 100;
    }

    .plans-pricing-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 2em;

        .plans-pricing-content {
            width: 340px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            flex-direction: column;
            text-align: center;

            gap: 1.5em;

            .ppcitem {
                display: flex;
                align-items: center;
                gap: 10px;

                .bx {
                    color: var(--accent);
                    font-size: 28px
                }
            }

            @media (max-width: 395px) {
                width: 85%;
            }

        }

        .side {
            background-color: var(--surface);
            padding: 2em;

            .mphead {
                color: var(--no-select);
                height: 2em;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .middle {
            background-color: var(--secondary);
            padding: 2em;

            .mpstar {
                color: var(--accent);
                height: 2em;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}