
body {
    --background: #000000; 
    --surface: #131313;

    --accent: #5eaf78;
    --primary: #afccb8; /*used for anything on surface*/
    --secondary: #101d15; /*general buttons*/

    --error: #b00020;
    --on-error: #ffffff;

    // font color
    --on-background: #dfdfdf;
    --on-surface: #e1e1e1;
    --on-primary: #090b0a;
    --on-secondary: #DFE7FF;

    --no-select: #868383;

    // font size
    --header: 40px;
    --big: 20px;
    --normal: 16p;
    --small: 10px;
}