@import "./props.less";

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:visited { text-decoration: none; color: var(--font-color);}
a:hover { text-decoration: none; color: var(--font-color);}
a:focus { text-decoration: none; color: var(--font-color);}
a:hover, a:active { text-decoration: none; color: var(--font-color);}
a { color: inherit; } 

body {
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 0px;

    @media (max-width: 420px) {
        display: none;
    }
}

::-webkit-scrollbar-track {
    background: var(--surface);

}

::-webkit-scrollbar-thumb {
    background: var(--gray);

}
  

.progress {
    height: 3px;
    display: flex;

    progress {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 2px;
        border-radius: 0px;
    }
    
    ::-webkit-progress-value {
        background-color: var(--accent);
    }
    
    ::-webkit-progress-bar {
        background-color: var(--secondary);
    }
}

header {
    background-color: var(--background);
    color: var(--on-background);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 50px;

    padding: 0 2.5% 0 2.5%;

    // border-bottom: 2px solid var(--accent);

    h4 {
        cursor: pointer;
    }

    .login {
        display: flex;
        flex-direction: row;

        gap: 10px;

        justify-self: right;
        align-items: center;

        width: max-content;

        p {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}

.menu {
    background-color: var(--surface);
    color: var(--no-select);

    height: 60px;
    width: 100%;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .menu-item {
        cursor: pointer;

        width: fit-content;
        
        padding: 8px 18px 8px 18px;
        border-radius: 50px;

        display: flex;
        align-items: center;
        gap: 3px;

        .bx-plus-medical {
            font-size: 14px;
        }

        .bx-list-check {
            font-size: 22px;
        }

        &:hover {
            color: var(--on-background);
        }

        @media (max-width: 590px) {
            padding: 4px 10px 4px 10px;
            font-size: 13px;
            width: min-content;
        }

        .menu-item-span {

            @media (max-width: 420px) {
                display: none;
            }
        }

        .bx {
            @media (max-width: 420px) {
                font-size: 20px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;

    margin-top: 50px;

    .footer-wrapper {
        padding: 48px 80px;
        color: var(--on-background);
        background-color: var(--surface);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: fit-content;

        border-radius: 10px 10px 0px 0px;

        .footer-header {
            font-weight: bold;
        }

        .footer-content-wrapper {
            display: flex;
            flex-wrap: wrap;

            .footer-content {
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 15px;

                margin-bottom: 20px;

                .footer-content-head {
                    color: var(--no-select);
                }

                a {
                    cursor: pointer;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-line {
            width: 100%;
            border-bottom: 1px solid var(--accent);
        }

        .footer-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .user {

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .delete-localstorage {
                color: var(--error);

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }   

}