<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <footer>
            <div class="footer-wrapper">
                <div class="footer-header">Plate Pilot</div> 
                <div class="footer-content-wrapper">
                    <div class="footer-content">
                        <span>Manage what you eat.</span>
                    </div>
                    <div class="footer-content">
                        <span class="footer-content-head">EXPLORE</span>
                        <a href="../docs/">Docs</a>
                        <a>Game</a>
                    </div>
                    <div class="footer-content">
                        <span class="footer-content-head">LET'S CONNECT</span>
                        <a >Contact me</a>
                        <a href="https://github.com/PlatePilot" target="_blank">GitHub</a>
                    </div>
                </div>
                <div class="footer-line"></div>
                <div class="footer-footer">
                    <span>Made with ❤ by <a href="https://github.com/jodekq" target="_blank" class="user">@jodek</a> (who got help from <a href="https://github.com/Mqxx" target="_blank" class="user">@mqx</a>)</span>
                    <div class="delete-localstorage" onclick="deleteLocalStorage()">Delete Local Storage</div>
                </div>
            </div>
        </footer>
    </body>
</html>