<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <header>
            <h4><a href="../index.html"><img src="../assets/plate_pilot.png" alt="Plate Pilot"></a></h4>
            <div class="login">
                <p>Sign In</p>
                <p>Log In</p>
            </div>
        </header>
        <div class="progress">
            <progress id="progress-bar" max="100" value="100"></progress>
        </div>
        <section class="menu">
            <a class="menu-item item-1" href="../newplate"><i class='bx bx-plus-medical'></i><span class="menu-item-span">Add Plate</span></a>
            <a class="menu-item item-2" href="../savedplates"><i class='bx bx-save'></i><span class="menu-item-span">Saved Plates</span></a>
            <a class="menu-item item-3" href="../tobuy/"><i class='bx bx-list-check'></i><span class="menu-item-span">ToBuy</span></a>
            <a class="menu-item item-4" href="../fridge"><i class='bx bx-fridge'></i><span class="menu-item-span">Fridge</span></a>
            <a class="menu-item item-5" href="../calendar/"><i class='bx bxs-calendar'></i><span class="menu-item-span">Calendar</span></a>
        </section>
    </body>
</html>